<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EfBancoTiempo" connectionString="metadata=res://*/ORM.EFBancoTiempo.csdl|res://*/ORM.EFBancoTiempo.ssdl|res://*/ORM.EFBancoTiempo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=BANCODELTIEMPO;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>