<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
       <add name="EFBancoTiempo" connectionString="metadata=res://*/ORM.EFBancoTiempo.csdl|res://*/ORM.EFBancoTiempo.ssdl|res://*/ORM.EFBancoTiempo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\ORM\BANCOTIEMPOBD.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>